<% if !@course %>
<h1>Users Homepage</h1>
<h3>Find your fellow <em>Scratch Golfers</em> below.</h3>

<% @users.each do |user| %>
<%= link_to "#{user.name} - #{user.hometown}", user_path(user) %><br></br>
<% end %>

<% else %>

<h1>Users Who Have Played <%= @course.name %></h1>
<h3>Find your fellow <em>Scratch Golfers</em> below.</h3>

<% if @course.users %>
<% @course.users.each do |user| %>
<%= link_to "#{user.name} - #{user.hometown}", user_path(user) %><br></br>
<% end %>
<% else %>
<h4>No users have played this course yet.</h4>
<% end %>
<% end %>
