<h1>Welcome to Scratch Golfer
  <% if @user %>
  <%= @user.name %>
  <% end %>
!</h1>
<p>Your home for handicap tracking, booking tee times, and improving your golf game</p>

<% if !@user %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
